################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/docs/ARCHITECTRUE.pptx
/docs/~$ARCHITECTRUE.pptx
